In [1]:
import re
import numpy as np
import pymongo
from pymongo import MongoClient
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
import warnings
import pickle
import geopy
import math

pd.set_option('display.max_columns', None)
warnings.filterwarnings('ignore')

In [2]:
cluster = MongoClient('mongodb+srv://Kiwisuki:slaptazodis@real-estate.aaszr.mongodb.net/?retryWrites=true&w=majority')
db = cluster['Real-Estate']
collection = db['butai/vilniuje']
df = pd.DataFrame([i for i in collection.find().limit(30)])

In [3]:
df = df.head(1)

In [4]:
k = lambda s : s.strip('€')
p = lambda s : re.sub('[^0-9.]', "", s.replace(",","."))
r = lambda x : int(re.sub('[^0-9.]','',x)[-4:])
b = lambda x : int(re.sub('[^0-9.]','',x)[0:4])
f = lambda x : x.replace('NAUDINGA: Interjero dizaineriai','')
a = lambda x : re.sub('[^0-9.]','',x)
city = lambda x : x.split()[0]

def area(x):
    try:
        x = re.sub('[^0-9.]', "", x.replace(",","."))
        if x == '':
            return 0
        return x
    except:
        return np.nan

def distance(x):
    if pd.isnull(x):
        return np.NaN
    d = re.sub('[^0-9.]', "", x.replace(",","."))
    if 'km' in x:
        d = float(d)*1000
    return float(d)

def heating(x):
    try:
        x = x.split('~')[0]
        x = x.replace('.','#')
        x = re.sub('[^0-9.]', "", x.replace(",","."))
        if x == '':
            return 0
        return x
    except:
        return np.nan
    
def splitter(x):
    x = x.replace('Š', 'S')
    x = x.replace('Ž', 'Z')
    r = re.findall('[A-Z][^A-Z]*', x)
    rez = []
    for i in r:
        rez.append(i.strip(' '))
    return rez

In [5]:
df.isna().sum()

_id                    0
House number           1
Area                   0
Rooms                  0
Floor                  0
Floors                 0
Year                   0
Building type          0
Heating                0
Finish                 0
Misc                   0
Misc equipment         1
Link                   0
Uploaded               0
Edited                 0
Saved                  0
Seen                   0
Kindergarden           0
School                 0
Shop                   0
Bus                    0
Crimes                 1
Address                0
Price                  0
Date scraped           0
id                     0
Real estate type       0
Comment                0
Broker number          0
Energy class           0
Additional premises    0
Security               0
Active until           1
Owner number           1
Heating estimate       1
Flat number            1
Thumbnail              0
Latitude               0
Longitude              0
dtype: int64

In [6]:
%%time


df['Misc'].fillna('No misc', inplace=True)
df['Misc equipment'].fillna('No misc equip', inplace=True)
df['Additional premises'].fillna('No additional premises', inplace=True)
df['Energy class'].fillna(' D? ', inplace=True)
df['House number'].fillna('', inplace=True)
df['Crimes'].fillna(-1, inplace=True)


df['Price'] = df['Price'].apply(k)
df['Area'] = df['Area'].astype(str)
df['Year'] = df['Year'].astype(str)
df['Area'] = df['Area'].apply(area).astype(float)
df['Renovated'] = df['Year'].apply(r)
df['Built'] = df['Year'].apply(b)
df['Finish'] = df['Finish'].apply(f)
df['Bus'] = df['Bus'].apply(distance)
df['Shop'] = df['Shop'].apply(distance)
df['School'] = df['School'].apply(distance)
df['Kindergarden'] = df['Kindergarden'].apply(distance)
df['City'] = df['Address'].apply(city)
df['Heating estimate'] = df['Heating estimate'].apply(heating)

df['Rooms'] = df['Rooms'].astype(int)
df['Floor'] = df['Floor'].astype(int)
df['Floors'] = df['Floors'].astype(int)
df['Crimes'] = df['Crimes'].astype(int)
df['Price'] = df['Price'].astype(float)

k = lambda s : s.split('.')[0] + '.'

df['Address'] = df['Address'].apply(k)
df['Address'] = df['Address'] + ' ' + df['House number']
df['Security'].fillna('No security features', inplace=True)
df['Broker number'] = df['Broker number'].notna()*1
df['Owner number'] = df['Owner number'].notna()*1


df['Misc'] = df['Misc'].apply(splitter)
df['Misc equipment'] = df['Misc equipment'].apply(splitter)
df['Security'] = df['Security'].apply(splitter)
df['Additional premises'] = df['Additional premises'].apply(splitter)


def snipper(x):
    x = x.lower()
    x = x.replace(' ','')
    return x.split(',')

df['Heating'] = df['Heating'].apply(snipper)

to_drop = ['Active until', 'Flat number', 'Thumbnail', 'id', 'Date scraped', 'Edited', 'Saved', 'Seen', 'Uploaded', 'House number']
df.drop(to_drop, axis=1, inplace=True)

CPU times: total: 0 ns
Wall time: 9.97 ms

In [7]:
df.isna().sum()

_id                    0
Area                   0
Rooms                  0
Floor                  0
Floors                 0
Year                   0
Building type          0
Heating                0
Finish                 0
Misc                   0
Misc equipment         0
Link                   0
Kindergarden           0
School                 0
Shop                   0
Bus                    0
Crimes                 0
Address                0
Price                  0
Real estate type       0
Comment                0
Broker number          0
Energy class           0
Additional premises    0
Security               0
Owner number           0
Heating estimate       1
Latitude               0
Longitude              0
Renovated              0
Built                  0
City                   0
dtype: int64

In [8]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="Aruodas_predictor")

from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)
df['Location'] = df['Address'].apply(geocode)

In [9]:
def fix_address(x):
    a = x.split(',')
    return f'{a[0]}, {a[1]}'

df['Address'][df['Location'].isna()] = df['Address'][df['Location'].isna()].apply(fix_address)
df['Location'][df['Location'].isna()] = df['Address'][df['Location'].isna()].apply(geocode)

In [10]:
import math

a = lambda x: math.radians(x.latitude)
b = lambda x: math.radians(x.longitude)

df['Latitude'] = df['Location'].apply(a)
df['Longitude'] = df['Location'].apply(b)

In [11]:
df.head(1)

,_id,Area,Rooms,Floor,Floors,Year,Building type,Heating,Finish,Misc,Misc equipment,Link,Kindergarden,School,Shop,Bus,Crimes,Address,Price,Real estate type,Comment,Broker number,Energy class,Additional premises,Security,Owner number,Heating estimate,Latitude,Longitude,Renovated,Built,City,Location
0,62f8da10346d9e12eda0cab1,56.85,3,2,7,2022,Mūrinis,[centriniskolektorinis],Dalinė apdaila,"[Nauja kanalizacija, Nauja elektros instaliacija]",[No misc equip],www.aruodas.lt/1-3206637,230.0,520.0,300.0,340.0,-1,"Vilnius, Pašilaičiai, Budiniškių g.",141400.0,butai/vilniuje,Atvykite apžiūrėti pavyzdinio buto ir išsirink...,1,A+,"[Balkonas, Vieta automobiliui]","[Sarvuotos durys, Kodinė laiptinės spyna, Vaiz...",0,NaN,0.955234,0.440027,2022,2022,"Vilnius,","(Budiniškių g., Pašilaičiai, Pašilaičių seniūn..."

In [12]:
def prep(x):
    rez = ''
    for i in x:
        rez+=i + ';'
    return rez

feats = df['Heating'].apply(prep).str.get_dummies(';')
df = pd.merge(df, feats, left_index=True, right_index=True)

feats = df['Misc'].apply(prep).str.get_dummies(';')
df = pd.merge(df, feats, left_index=True, right_index=True)

feats = df['Misc equipment'].apply(prep).str.get_dummies(';')
df = pd.merge(df, feats, left_index=True, right_index=True)

feats = df['Additional premises'].apply(prep).str.get_dummies(';')
df = pd.merge(df, feats, left_index=True, right_index=True)

feats = df['Security'].apply(prep).str.get_dummies(';')
df = pd.merge(df, feats, left_index=True, right_index=True)

In [13]:
feats = pd.get_dummies(df['Finish'])
df = pd.merge(df, feats, left_index=True, right_index=True)

feats = pd.get_dummies(df['Building type'])
df = pd.merge(df, feats, left_index=True, right_index=True)

In [16]:
df = df.drop(['Heating', 'Misc', 'Misc equipment', 'Additional premises', 'Security', 'Address', 'Real estate type'], axis=1)

In [17]:
df

,_id,Area,Rooms,Floor,Floors,Year,Building type,Finish,Link,Kindergarden,School,Shop,Bus,Crimes,Price,Comment,Broker number,Energy class,Owner number,Heating estimate,Latitude,Longitude,Renovated,Built,City,Location,centriniskolektorinis,Nauja elektros instaliacija,Nauja kanalizacija,No misc equip,Balkonas,Vieta automobiliui,Kodinė laiptinės spyna,Sarvuotos durys,Vaizdo kameros,Dalinė apdaila,Mūrinis
0,62f8da10346d9e12eda0cab1,56.85,3,2,7,2022,Mūrinis,Dalinė apdaila,www.aruodas.lt/1-3206637,230.0,520.0,300.0,340.0,-1,141400.0,Atvykite apžiūrėti pavyzdinio buto ir išsirink...,1,A+,0,NaN,0.955234,0.440027,2022,2022,"Vilnius,","(Budiniškių g., Pašilaičiai, Pašilaičių seniūn...",1,1,1,1,1,1,1,1,1,1,1