Goal for preprocessed data:
+ Link(id) : string
+ Thumbnail_link: string
+ Name: string
+ Price: int
+ Predicted value: int
+ Predicted rent: int
+ ROI: float
+ Area: float
+ Rooms: int
+ Floor: int
+ Floors: int
+ Misc: categorical list
+ Bus: int
+ Shop: int
+ School: int
+ Kindergarden: int
+ City: categorical
+ District: categorical
+ Sold by Owner: boolean
+ Contact number: string
+ Heating: categorical
+ Finish: categorical
+ Date scraped: datetime
+ knn eur/m2: int
+ User clicks: int
+ Photo links: array
+ Heating Average: float
+ Comment: string
+ Address: string

In [1]:
USER = 'Kiwisuki'
PASSWORD = 'slaptazodis'
DB_NAME = 'Real-Estate'
RAW_DATABASE = f"mongodb+srv://{USER}:{PASSWORD}@real-estate.cduph5g.mongodb.net/?retryWrites=true&w=majority"
PROCCESSED_DATABASE = f"mongodb+srv://{USER}:{PASSWORD}@real-estate.cduph5g.mongodb.net/?retryWrites=true&w=majority"

In [2]:
import re
from pymongo import MongoClient
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings
import pickle
import geopy
import math

%matplotlib inline

warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [3]:
cluster = MongoClient(RAW_DATABASE)
db = cluster[DB_NAME]
collection = db['butai/vilniuje']
df = pd.DataFrame([i for i in collection.find()])

In [4]:
df.columns

Index(['_id', 'Namo numeris', 'Buto numeris', 'Plotas', 'Kambarių sk.',
       'Aukštas', 'Aukštų sk.', 'Metai', 'Pastato tipas', 'Šildymas',
       'Įrengimas', 'Pastato energijos suvartojimo klasė', 'Ypatybės',
       'Papildomos patalpos', 'Papildoma įranga', 'Apsauga', 'Nuoroda',
       'Įdėtas', 'Redaguotas', 'Įsiminė', 'Peržiūrėjo',
       'Artimiausias darželis', 'Artimiausia mokymo įstaiga',
       'Artimiausia parduotuvė', 'Viešojo transporto stotelė',
       'Nusikaltimai 500 m spinduliu praėjusį mėnesį', 'Address', 'Price',
       'Photos', 'Date scraped', 'Id', 'Comment', 'Broker number', 'AdType',
       'Thumbnail', 'Reklama/pasiūlymas',
       'Vidutiniškai tiek kainuotų šildymas 1 mėn. Apskaičiuotas vidurkis iš skirtingų mėnesių ir skelbime nurodyto ploto',
       'Aktyvus iki', 'Owner number'],
      dtype='object')

In [5]:
old = ['_id', 'Namo numeris', 'Buto numeris', 'Plotas', 'Kambarių sk.',
       'Aukštas', 'Aukštų sk.', 'Metai', 'Pastato tipas', 'Šildymas',
       'Įrengimas', 'Pastato energijos suvartojimo klasė', 'Ypatybės',
       'Papildomos patalpos', 'Papildoma įranga', 'Apsauga', 'Nuoroda',
       'Įdėtas', 'Redaguotas', 'Įsiminė', 'Peržiūrėjo',
       'Artimiausias darželis', 'Artimiausia mokymo įstaiga',
       'Artimiausia parduotuvė', 'Viešojo transporto stotelė',
       'Nusikaltimai 500 m spinduliu praėjusį mėnesį', 'Address', 'Price',
       'Photos', 'Date scraped', 'Id', 'Comment', 'Broker number', 'AdType',
       'Thumbnail', 'Reklama/pasiūlymas',
       'Vidutiniškai tiek kainuotų šildymas 1 mėn. Apskaičiuotas vidurkis iš skirtingų mėnesių ir skelbime nurodyto ploto',
       'Aktyvus iki', 'Owner number']

new = ['_id', 'House_number', 'Flat_number', 'Area', 'Rooms',
       'Floor', 'Floors', 'Year', 'Building_type', 'Heating',
       'Finish', 'Energy_class', 'Misc',
       'Additional_spaces', 'Additional_equipment', 'Security_features', 'Link',
       'Uploaded', 'Edited', 'Saved', 'Seen',
       'Nearest_kindergarden', 'Nearest_school',
       'Nearest_store', 'Nearest_bus_stop',
       'Crimes', 'Address', 'Price',
       'Photos', 'Date_scraped', 'Id', 'Comment', 'Broker_number', 'AdType',
       'Thumbnail', 'Advertisement',
       'Average_heating_estimate',
       'Active_until', 'Owner_number']

mapper = dict(zip(old,new))
df = df[old]
df = df.rename(mapper, axis=1)

In [6]:
df.head(1)

,_id,House_number,Flat_number,Area,Rooms,Floor,Floors,Year,Building_type,Heating,Finish,Energy_class,Misc,Additional_spaces,Additional_equipment,Security_features,Link,Uploaded,Edited,Saved,Seen,Nearest_kindergarden,Nearest_school,Nearest_store,Nearest_bus_stop,Crimes,Address,Price,Photos,Date_scraped,Id,Comment,Broker_number,AdType,Thumbnail,Advertisement,Average_heating_estimate,Active_until,Owner_number
0,6319cbe85b35704b482c27ed,27,6,"73,85 m²",3,2,4,2022,Mūrinis,"Elektra, aeroterminis",Dalinė apdaila NAUDINGA: Interjero dizaineriai,A++,Aukštos lubos Nauja kanalizacija Nauja elektr...,Balkonas,Kondicionierius Plastikiniai vamzdžiai Rekupe...,Šarvuotos durys Kodinė laiptinės spyna,www.aruodas.lt/1-3172400,2022-01-19,2022-09-06,100,35012/9 (iš viso/šiandien),"~ 1,6 km","~ 2,7 km",~ 600 m,~ 630 m,0,"Vilnius, Santariškės, Dangeručio g., 3 kambar...",183000€,[https://aruodas-img.dgn.lt/object_62_10174274...,2022-09-08,1-3172400,"\n\n Parduodamas 73,85 kv. m tr...",+370 659 11175,butai/vilniuje,https://aruodas-img.dgn.lt/object_66_105586653...,NaN,NaN,NaN,NaN

In [7]:
k = lambda s : s.strip('€')
p = lambda s : re.sub('[^0-9.]', "", s.replace(",","."))
r = lambda x : int(re.sub('[^0-9.]','',x)[-4:])
b = lambda x : int(re.sub('[^0-9.]','',x)[0:4])
f = lambda x : x.replace('NAUDINGA: Interjero dizaineriai','')
a = lambda x : re.sub('[^0-9.]','',x)
city = lambda x : x.split(',')[0]

def area(x):
    try:
        x = re.sub('[^0-9.]', "", x.replace(",","."))
        if x == '':
            return 0
        return x
    except:
        return np.nan

def distance(x):
    if pd.isnull(x):
        return np.NaN
    d = re.sub('[^0-9.]', "", x.replace(",","."))
    if 'km' in x:
        d = float(d)*1000
    return float(d)

def heating(x):
    try:
        x = x.split('~')[0]
        x = x.replace('.','#')
        x = re.sub('[^0-9.]', "", x.replace(",","."))
        if x == '':
            return 0
        return x
    except:
        return np.nan
    
def splitter(x):
    x = x.replace('Š', 'S')
    x = x.replace('Ž', 'Z')
    r = re.findall('[A-Z][^A-Z]*', x)
    rez = []
    for i in r:
        rez.append(i.strip(' '))
    return rez

In [8]:
%%time


df['Misc'].fillna('No misc', inplace=True)
df['Additional_equipment'].fillna('No misc equip', inplace=True)
df['Additional_spaces'].fillna('No additional premises', inplace=True)
df['Energy_class'].fillna(' D? ', inplace=True)
df['House_number'].fillna('', inplace=True)
df['Crimes'].fillna(-1, inplace=True)


df['Price'] = df['Price'].apply(k)
df['Area'] = df['Area'].astype(str)
df['Year'] = df['Year'].astype(str)
df['Area'] = df['Area'].apply(area).astype(float)
df['Renovated'] = df['Year'].apply(r)
df['Built'] = df['Year'].apply(b)
df['Finish'] = df['Finish'].apply(f)
df['Nearest_bus_stop'] = df['Nearest_bus_stop'].apply(distance)
df['Nearest_store'] = df['Nearest_store'].apply(distance)
df['Nearest_school'] = df['Nearest_school'].apply(distance)
df['Nearest_kindergarden'] = df['Nearest_kindergarden'].apply(distance)
df['City'] = df['Address'].apply(city)
df['Average_heating_estimate'] = df['Average_heating_estimate'].apply(heating)

df['Rooms'] = df['Rooms'].astype(int)
df['Floor'] = df['Floor'].astype(int)
df['Floors'] = df['Floors'].astype(int)
df['Crimes'] = df['Crimes'].astype(int)
df['Price'] = df['Price'].astype(float)

k = lambda s : s.split('.')[0] + '.'

df['Address'] = df['Address'].apply(k)
df['Address'] = df['Address'] + ' ' + df['House_number']
df['Security_features'].fillna('No security features', inplace=True)
df['Broker_number'] = df['Broker_number'].notna()*1
df['Owner_number'] = df['Owner_number'].notna()*1


df['Misc'] = df['Misc'].apply(splitter)
df['Additional_equipment'] = df['Additional_equipment'].apply(splitter)
df['Security_features'] = df['Security_features'].apply(splitter)
df['Additional_spaces'] = df['Additional_spaces'].apply(splitter)


def snipper(x):
    x = x.lower()
    x = x.replace(' ','')
    return x.split(',')

df['Heating'] = df['Heating'].apply(snipper)
df.drop('Advertisement', axis=1, inplace=True)

a = lambda x: int(x.split('/')[0])
df['Seen'] = df['Seen'].apply(a)

CPU times: total: 15.6 ms
Wall time: 9.13 ms

In [9]:
df.head(1)

,_id,House_number,Flat_number,Area,Rooms,Floor,Floors,Year,Building_type,Heating,Finish,Energy_class,Misc,Additional_spaces,Additional_equipment,Security_features,Link,Uploaded,Edited,Saved,Seen,Nearest_kindergarden,Nearest_school,Nearest_store,Nearest_bus_stop,Crimes,Address,Price,Photos,Date_scraped,Id,Comment,Broker_number,AdType,Thumbnail,Average_heating_estimate,Active_until,Owner_number,Renovated,Built,City
0,6319cbe85b35704b482c27ed,27,6,73.850,3,2,4,2022,Mūrinis,"[elektra, aeroterminis]",Dalinė apdaila,A++,"[Aukštos lubos, Nauja kanalizacija, Nauja elek...",[Balkonas],"[Kondicionierius, Plastikiniai vamzdžiai, Reku...","[Sarvuotos durys, Kodinė laiptinės spyna]",www.aruodas.lt/1-3172400,2022-01-19,2022-09-06,100,35012,1600.000,2700.000,600.000,630.000,0,"Vilnius, Santariškės, Dangeručio g. 27",183000.000,[https://aruodas-img.dgn.lt/object_62_10174274...,2022-09-08,1-3172400,"\n\n Parduodamas 73,85 kv. m tr...",1,butai/vilniuje,https://aruodas-img.dgn.lt/object_66_105586653...,NaN,NaN,0,2022,2022,Vilnius

In [10]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="Aruodas_predictor")

from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)
df['Location'] = df['Address'].apply(geocode)

def fix_address(x):
    a = x.split(',')
    return f'{a[0]}, {a[1]}'

df['Address'][df['Location'].isna()] = df['Address'][df['Location'].isna()].apply(fix_address)
df['Location'][df['Location'].isna()] = df['Address'][df['Location'].isna()].apply(geocode)


import math

a = lambda x: math.radians(x.latitude)
b = lambda x: math.radians(x.longitude)

df['Latitude'] = df['Location'].apply(a)
df['Longitude'] = df['Location'].apply(b)

In [11]:
df.head(1)

,_id,House_number,Flat_number,Area,Rooms,Floor,Floors,Year,Building_type,Heating,Finish,Energy_class,Misc,Additional_spaces,Additional_equipment,Security_features,Link,Uploaded,Edited,Saved,Seen,Nearest_kindergarden,Nearest_school,Nearest_store,Nearest_bus_stop,Crimes,Address,Price,Photos,Date_scraped,Id,Comment,Broker_number,AdType,Thumbnail,Average_heating_estimate,Active_until,Owner_number,Renovated,Built,City,Location,Latitude,Longitude
0,6319cbe85b35704b482c27ed,27,6,73.850,3,2,4,2022,Mūrinis,"[elektra, aeroterminis]",Dalinė apdaila,A++,"[Aukštos lubos, Nauja kanalizacija, Nauja elek...",[Balkonas],"[Kondicionierius, Plastikiniai vamzdžiai, Reku...","[Sarvuotos durys, Kodinė laiptinės spyna]",www.aruodas.lt/1-3172400,2022-01-19,2022-09-06,100,35012,1600.000,2700.000,600.000,630.000,0,"Vilnius, Santariškės",183000.000,[https://aruodas-img.dgn.lt/object_62_10174274...,2022-09-08,1-3172400,"\n\n Parduodamas 73,85 kv. m tr...",1,butai/vilniuje,https://aruodas-img.dgn.lt/object_66_105586653...,NaN,NaN,0,2022,2022,Vilnius,"(Santariškės, Verkių seniūnija, Vilnius, Vilni...",0.956,0.441

In [12]:
location = df['Location'][0]